[buildout]
parts = django
unzip = true
versions = versions
#allow-picked-versions = false
extensions = buildout-versions

[django]
recipe = djangorecipe
version = 1.2.5
settings = settings
project = example
projectegg = example
test = django_fields
extra-paths = src
eggs =
    nose
    django-nose
    pycrypto

[versions]
distribute = 0.6.18
django-nose = 0.1.3
djangorecipe = 0.22
nose = 1.0.0
pycrypto = 2.3
buildout-versions = 1.6

#Required by:
#djangorecipe 0.22
zc.buildout = 1.5.2
zc.recipe.egg = 1.3.1
